:root {
    --white: white;
    --black: black;
    --color: var(--white);
}

.menu__btn {
    border: 1px solid var(--color);
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
    width: 50%;
    height: 2px;
    background-color: inherit;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    transition: all 0.2s ease;
    background-color: var(--color);
}

.menu__btn span {
    top: 50%;
    margin-top: -1px;
}

.menu__btn span::before {
    content: "";
    width: 100%;
    transform: translateY(-300%);
    margin-left: -50%;
}

.menu__btn span::after {
    content: "";
    width: 100%;
    transform: translateY(300%);
    margin-left: -50%;
}

.menu__btn-active > span {
    height: 0px;
}

.menu__btn-active > span::after {
    transform: rotate(-45deg);
}

.menu__btn-active > span::before {
    transform: rotate(45deg);
}

.menu__btn-active {
    z-index: 20;
}